*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*.run.xml

*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bak

.DS_Store

*.swp
*~

.vscode
.history
.env

*.pdf

/example